{{ block "single-choice-answer" . }}
<div id="question-{{ .QuestionId }}" class="flex flex-col items-start gap-y-1 rounded-md border border-gray-300 p-6 w-[700px]">
    <div class="flex w-full items-start justify-between gap-x-2">
        <span class="overflow-auto whitespace-normal text-xl font-semibold">{{ .QuestionText }}</span>
        <span>{{ .Score }}/{{ .MaxScore }}</span>
    </div>
    <span class="text-sm text-gray-400">Choose the correct answer from the options below.</span>
    <div class="flex w-full flex-col overflow-auto whitespace-normal rounded-md border border-gray-200 p-2 text-lg gap-y-0.5">
        {{ $questionId := .QuestionId }}
        {{ range $index, $option := .Options }}
            <label
                class="px-2 rounded-md border overflow-auto whitespace-normal
                {{ if and $option.Valid $option.Picked }}border border-green-400 bg-green-200
                {{ else if and $option.Valid (not $option.Picked) }} border-orange-400 bg-orange-200
                {{ else if and (not $option.Valid) $option.Picked }} border-red-400 bg-red-200
                {{ else }} border-transparent bg-transparent {{ end }}
                "
            >
                <input
                    type="radio"
                    name="{{ $questionId }}"
                    disabled
                    {{ if $option.Picked }} checked {{ end }}
                    value="{{ $index }}">
                {{ $option.Text }}
            </label>
        {{ end }}
    </div>
</div>
{{ end }}

{{ block "multiple-choice-answer" . }}
<div id="question-{{ .QuestionId }}" class="flex flex-col items-start gap-y-1 rounded-md border border-gray-300 p-6 w-[700px]">
    <div class="flex w-full items-start justify-between gap-x-2">
        <span class="overflow-auto whitespace-normal text-xl font-semibold">{{ .QuestionText }}</span>
        <span>{{ .Score }}/{{ .MaxScore }}</span>
    </div>
    <span class="text-sm text-gray-400">Choose the correct answer from the options below.</span>
    <div class="flex w-full flex-col overflow-auto whitespace-normal rounded-md border border-gray-200 p-2 text-lg gap-y-0.5">
        {{ $questionId := .QuestionId }}
        {{ range $index, $option := .Options }}
            <label
                class="px-2 rounded-md border overflow-auto whitespace-normal
                {{ if and $option.Valid $option.Picked }}border border-green-400 bg-green-200
                {{ else if and $option.Valid (not $option.Picked) }} border-orange-400 bg-orange-200
                {{ else if and (not $option.Valid) $option.Picked }} border-red-400 bg-red-200
                {{ else }} border-transparent bg-transparent {{ end }}
                ">
                <input
                    type="checkbox"
                    name="{{ $questionId }}"
                    disabled
                    {{ if $option.Picked }} checked {{ end }}
                    value="{{ $index }}">
                {{ $option.Text }}
            </label>
        {{ end }}
    </div>
</div>
{{ end }}

{{ block "true-or-false-answer" . }}
    <div id="question-{{ .QuestionId }}" class="flex flex-col items-start gap-y-1 rounded-md border border-gray-300 p-6 w-[700px]">
        <div class="flex w-full items-start justify-between gap-x-2">
            <span class="overflow-auto whitespace-normal text-xl font-semibold">{{ .QuestionText  }}</span>
            <span>{{ .Score }}/{{ .MaxScore }}</span>
        </div>
        <span class="text-sm text-gray-400">Choose the correct answer from the options below.</span>
        <div class="flex w-full flex-col overflow-auto whitespace-normal rounded-md border border-gray-200 p-2 text-lg gap-y-0.5">
            {{ $questionId := .QuestionId }}
            {{ range $index, $option := .Options }}
                <label
                    class="px-2 rounded-md border overflow-auto whitespace-normal
                        {{ if and $option.Valid $option.Picked }}border border-green-400 bg-green-200
                        {{ else if and $option.Valid (not $option.Picked) }} border-orange-400 bg-orange-200
                        {{ else if and (not $option.Valid) $option.Picked }} border-red-400 bg-red-200
                        {{ else }} border-transparent bg-transparent {{ end }}
                ">
                    <input
                        type="checkbox"
                        name="{{ $questionId }}"
                        disabled
                        {{ if $option.Picked }} checked {{ end }}
                        value="{{ $index }}">
                    {{ $option.Text }}
                </label>
            {{ end }}
        </div>
    </div>
{{ end }}