package components

templ Logo() {
	<a
		href="/"
		class="flex h-16 items-center gap-x-2 sm:p-2"
	>
		<img
			src="/static/images/logo.png"
			alt="logo"
			class="max-h-10 max-w-10 sm:max-w-12 sm:max-h-12"
		/>
		<span class="text-2xl font-semibold text-nowrap sm:text-3xl">Spaced Ace</span>
	</a>
}
