package components

templ Logo() {
	<div class="flex p-2 gap-x-2 items-center h-16">
        <img
            src="/static/images/logo.png"
            alt="logo"
            class="max-h-12 max-w-12">
        <span class="font-semibold text-3xl text-nowrap">Spaced Ace</span>
    </div>
}