package layout

templ HtmlLayout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<link rel="stylesheet" href="/static/tailwindcss.css"/>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Spaced Ace</title>
			<script src="/static/htmx.min.js"></script>
		</head>
		<body
			hx-boost="true"
			class="h-dvh w-dvw flex justify-center"
		>
			{ children... }
			<div id="popup-container"></div>
		</body>
	</html>
}
