{{ block "create-new-quiz" . }}
    <div class="flex h-full w-full justify-center">
        <form class="w-[700px] h-[calc(100dvh-4rem)] flex flex-col flex-shrink-0 gap-y-2 justify-start py-6">
            <span class="text-4xl font-bold">Create new</span>

            <label for="title">
                <input
                        id="title"
                        name="title"
                        placeholder="My quiz"
                        type="text"
                        class="w-full rounded-md border border-gray-300 px-4 py-2"/>
            </label>

            <label for="description">
                <textarea
                        id="description"
                        name="description"
                        placeholder="Description"
                        type="text"
                        rows="4"
                        class="max-h-64 w-full rounded-md border border-gray-300 px-4 py-2 min-h-32"></textarea>
            </label>

            <div id="generate-buttons" class="flex flex-shrink-0 gap-2">
                <a
                        href="/my-quizzes"
                        class="w-full rounded-md bg-red-600 px-4 py-2 text-center text-white hover:bg-red-700 disabled:bg-red-950 disabled:cursor-not-allowed">Back</a>
                <button
                        hx-post="/quizzes/create"
                        class="w-full rounded-md bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 disabled:bg-blue-950 disabled:cursor-not-allowed">Create</button>
            </div>

        </form>
    </div>
{{ end }}