{{ block "layout" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tailwindcss.css">
    <meta charset="UTF-8">
    <title>Spaced Ace</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script src="/static/script.js"></script>
</head>
<body
    hx-history="true"
    hx-boost="true"
    hx-push-url="true"
    hx-target="main"
    hx-ext="response-targets"
    hx-target-error="#error-message"
    class="flex w-screen cursor-default flex-col h-dvh">
    {{ template "navbar" .PageData.Session }}
    <div id="page-container" class="flex h-[calc(100dvh-4rem)] w-full">
        <div id="error-notification"
             class="absolute bottom-0 left-1/2 hidden -translate-x-1/2 transform flex-col rounded-t bg-red-500 px-2 py-1 opacity-0 shadow transition-opacity ease-in-out h-[200px] w-[500px] z-100 duration-2000">
            <div class="flex h-8 w-full flex-shrink-0 flex-grow-0 items-center gap-x-2">
                <span class="text-xl font-semibold text-white">Notification</span>
                <div class="w-full"></div>
                <svg xmlns="http://www.w3.org/2000/svg" onclick="hideNotification()" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="h-10 w-10">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
            <div id="error-message"></div>
        </div>
        {{ template "sidebar" .PageData.Session }}
        <main class="flex h-full w-full overflow-auto">
            {{ if eq .TemplateName "create-new-quiz" }}
                {{ template "create-new-quiz" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "edit-quiz" }}
                {{ template "edit-quiz" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "generate" }}
                {{ template "generate" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "index" }}
                {{ template "index" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "layout" }}
                {{ template "layout" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "login" }}
                {{ template "login" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "my-quizzes" }}
                {{ template "my-quizzes" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "not-found" }}
                {{ template "not-found" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "signup" }}
                {{ template "signup" .PageData.Data }}
            {{ end }}
            {{ if eq .TemplateName "take-quiz-page" }}
                {{ template "take-quiz-page" .PageData.Data }}
            {{ end }}
        </main>
    </div>
</body>
</html>
{{ end }}