{{ block "submit-quiz-page" . }}
<div class="flex h-full w-full flex-col items-center gap-y-2 pt-8">
    <div class="flex items-end w-[700px]">
        <span class="text-2xl font-semibold text-nowrap">Results</span>
    </div>
    <div
        id="answers"
        class="flex h-min flex-shrink-0 flex-grow-0 flex-col gap-y-2 overflow-y-auto pb-6">
        {{ range $answer := .Answers }}
            {{ if eq $answer.QuestionType 0 }}
                {{ template "single-choice-answer" $answer }}
            {{ else if eq $answer.QuestionType 1 }}
                {{ template "multiple-choice-answer" $answer }}
            {{ else if eq $answer.QuestionType 2 }}
                {{ template "true-or-false-answer" $answer }}
            {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}