{{ block "take-quiz-page" . }}
    <form
        hx-post="/quizzes/{{.QuizWithMetaData.QuizInfo.Id}}/submit"
        hx-push-url="false"
        class="flex h-full w-full flex-col items-center gap-y-2 pt-8">
        <div class="flex items-end w-[700px]">
            <span class="text-2xl font-semibold text-nowrap">Take quiz</span>
            <div class="w-full"></div>
            <button
                type="submit"
                class="h-10 rounded-md border border-black bg-black px-4 py-2 text-white">
                Submit
            </button>
        </div>
        <div
            id="questions"
            class="flex h-min flex-shrink-0 flex-grow-0 flex-col gap-y-2 overflow-y-auto pb-6">
            {{ range $question := .QuizWithMetaData.QuestionsWithMetaData }}
                {{ if eq .Question.QuestionType 0 }}
                    {{ template "single-choice-question" $question }}
                {{ else if eq .Question.QuestionType 1 }}
                    {{ template "multiple-choice-question" $question }}
                {{ else if eq .Question.QuestionType 2 }}
                    {{ template "true-or-false-question" $question }}
                {{ else if eq .Question.QuestionType 3 }}
                    {{ template "open-ended-question" $question }}
                {{ end }}
            {{ end }}
            <div class="flex justify-end w-[700px]">
                <button
                    type="submit"
                    class="h-10 rounded-md border border-black bg-black px-4 py-2 text-white">
                    Submit
                </button>
            </div>
        </div>
    </form>
{{ end }}