{{ block "create-new-quiz" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tailwindcss.css">
    <meta charset="UTF-8">
    <title>Spaced Ace</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body
    hx-history="true"
    hx-boost="true"
    hx-push-url="true"
    class="w-screen h-[calc(100dvh)] flex flex-col flex-shrink-0 whitespace-nowrap cursor-default">
    {{ template "navbar" .Session }}
    <div class="h-16 border-r w-[260px]"></div>
    <div class="w-screen h-[calc(100dvh)] flex justify-center">
        <form class="w-[700px] h-[calc(100dvh-4rem)] flex flex-col flex-shrink-0 gap-y-2 justify-start py-6">
            <span class="text-4xl font-bold">Create new</span>

            <label for="title">
                <input
                    id="title"
                    name="title"
                    placeholder="My quiz"
                    type="text"
                    class="w-full rounded-md border border-gray-300 px-4 py-2"/>
            </label>

            <label for="description">
                <textarea
                    id="description"
                    name="description"
                    placeholder="Description"
                    type="text"
                    rows="4"
                    class="max-h-64 w-full rounded-md border border-gray-300 px-4 py-2 min-h-32"></textarea>
            </label>

            <div id="generate-buttons" class="flex flex-shrink-0 gap-2">
                <a
                    href="/my-quizzes"
                    class="w-full rounded-md bg-red-600 px-4 py-2 text-white hover:bg-red-700 disabled:bg-red-950 disabled:cursor-not-allowed text-center">Back</a>
                <button
                    hx-post="/quizzes/create"
                    class="w-full rounded-md bg-blue-600 px-4 py-2 text-white hover:bg-blue-700 disabled:bg-blue-950 disabled:cursor-not-allowed">Create</button>
            </div>

        </form>
    </div>
</body>
</html>
{{ end }}