{{ block "generate" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="/static/tailwindcss.css">
        <meta charset="UTF-8">
        <title>Spaced Ace</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body
        hx-history="false"
        hx-boost="true"
        hx-push-url="true"
        class="flex w-screen cursor-default flex-col whitespace-nowrap">
    {{ template "navbar" .Session }}
    <div class="flex w-screen flex-col items-center justify-center">
        <div class="mt-24 flex flex-col items-start gap-y-2">
            <span class="text-2xl font-semibold">Question Generator</span>
            <span class="text-gray-400 text-md">Enter the context below.</span>
            <form
                hx-post="/multiple-choice-question"
                hx-target="#question-placeholder"
                hx-swap="outerHTML"
                class="flex flex-col items-start gap-y-3 rounded-md border border-gray-300 p-6 w-[700px]">
                <span>Your context</span>
                <label class="w-full">
                    <textarea name="prompt" placeholder="Enter your context..." class="flex w-full rounded-md border border-gray-200 p-2 min-h-[300px] max-h-[600px]"></textarea>
                </label>
                <button
                    type="submit"
                    class="rounded-md border border-gray-300 bg-black px-4 py-2 text-white">
                    Generate
                </button>
            </form>

            <div id="question-placeholder"></div>
        </div>
    </div>
    </body>
    </html>
{{ end }}