{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tailwindcss.css">
    <meta charset="UTF-8">
    <title>Spaced Ace</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body class="w-screen flex flex-col whitespace-nowrap cursor-default">
    {{ template "navbar" .Session }}
    <div class="w-screen h-[calc(100dvh)] flex justify-center items-center">
        <div class="flex flex-col items-center gap-y-2">
            <div>Welcome to</div>
            <span class="text-4xl font-bold ">Spaced Ace</span>
            <p class="text-gray-500 max-w-[600px] text-lg text-center overflow-auto whitespace-normal">
                The modern
                <span class="bg-gradient-to-r from-blue-400 to-green-400 text-transparent bg-clip-text font-semibold">AI-powered</span>
                E-learning platform. Create, study, and master any subject with our intuitive web app.
            </p>
            <a href="/generate" class="px-4 py-2 rounded-md border border-gray-300">Get Started</a>
        </div>
    </div>
    <div class="w-screen h-[calc(100dvh)]"></div>
</body>
</html>
{{ end }}