{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tailwindcss.css">
    <meta charset="UTF-8">
    <title>Spaced Ace</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body
    hx-history="false"
    hx-boost="true"
    hx-push-url="true"
    class="flex w-screen cursor-default flex-col whitespace-nowrap">
    {{ template "navbar" .Session }}
    <div class="w-screen h-[calc(100dvh)] flex justify-center items-center">
        <div class="flex flex-col items-center gap-y-2">
            <div>Welcome to</div>
            <span class="text-4xl font-bold">Spaced Ace</span>
            <p class="overflow-auto whitespace-normal text-center text-lg text-gray-500 max-w-[600px]">
                The modern
                <span class="bg-gradient-to-r from-blue-400 to-green-400 bg-clip-text font-semibold text-transparent">AI-powered</span>
                E-learning platform. Create, study, and master any subject with our intuitive web app.
            </p>
            <a href="/generate" class="rounded-md border border-gray-300 px-4 py-2">Get Started</a>
        </div>
    </div>
    <div class="w-screen h-[calc(100dvh)]"></div>
</body>
</html>
{{ end }}