{{ block "login" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/tailwindcss.css">
    <meta charset="UTF-8">
    <title>Spaced Ace</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body
    hx-history="false"
    hx-boost="true"
    hx-push-url="true"
    class="flex w-screen cursor-default flex-col whitespace-nowrap">
    {{ template "navbar" .Session }}
    <div class="flex flex-col w-screen h-[calc(100dvh)] justify-center items-center">
        <form class="flex flex-col gap-y-4 p-6 w-[500px]">
            <span class="text-center text-3xl font-bold">Login</span>
            <div class="flex flex-col items-start gap-y-1">
                <label for="email" class="text-sm font-medium leading-5">Email</label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    placeholder="Email"
                    class="h-10 w-full rounded-md border border-gray-300 px-4 py-2">
            </div>
            <div class="flex flex-col items-start gap-y-1">
                <label for="password" class="text-sm font-medium leading-5">Password</label>
                <input
                    id="password"
                    name="password"
                    type="password"
                    placeholder="Password"
                    class="h-10 w-full rounded-md border border-gray-300 px-4 py-2">
            </div>
            <button
                type="submit"
                hx-post="/login"
                class="h-10 w-full rounded-md border border-black bg-black px-4 py-2 text-white">
                Login
            </button>
            <a
                href="/signup"
                class="h-10 w-full cursor-pointer rounded-md border bg-white px-4 py-2 text-center text-black">
                Sign up
            </a>
        </form>
    </div>
</body>
</html>
{{ end }}