{{ block "my-quizzes" . }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="/static/tailwindcss.css">
        <meta charset="UTF-8">
        <title>Spaced Ace</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body
        hx-history="false"
        hx-boost="true"
        hx-push-url="true"
        class="w-screen h-[calc(100dvh)] flex flex-col flex-shrink-0 whitespace-nowrap cursor-default">
        {{ template "navbar" .Session }}
        <div class="h-16 border-r w-[260px]"></div>
        <div class="w-screen h-[calc(100dvh)] flex">
            {{ template "sidebar" . }}
            <main class="w-[calc(100%-260px)] h-[calc(100dvh-4rem)] flex flex-col flex-shrink-0 gap-y-4">
                <span class="px-6 pt-6 text-4xl font-bold">My quizzes</span>

                <div class="h-12 w-full px-6">
                    <div class="h-full w-full">
                        <form hx-post="/my-exams" class="flex h-full w-full flex-shrink-0 items-center rounded-md border px-2 focus-within:border-gray-400 hover:border-gray-300 hover:focus-within:border-gray-400">
                            <img src="/static/icons/search.svg" alt="icon" class="h-5 w-5">
                            <label for="query" class="h-full w-full px-2">
                                <input
                                    id="query"
                                    name="query"
                                    placeholder="Search"
                                    type="search"
                                    class="h-full w-full focus:outline-none focus:ring-0"/>
                            </label>
                        </form>
                    </div>
                </div>

                <div id="exams" class="w-full h-[calc(100dvh-4rem-4rem)] flex gap-4 flex-wrap px-6 pt-1 pb-6 items-start justify-start content-start overflow-y-scroll flex-grow-0">
                    <a href="/create-new-quiz" class="flex flex-col items-center justify-center gap-y-2 rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <img src="/static/icons/plus.svg" alt="icon" class="h-10 w-10">
                        <span class="font-semibold text-md">Create new</span>
                    </a>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-br from-green-500 to-blue-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">Test 1</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-br from-red-500 to-yellow-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">Algorithms and data structures</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-purple-500 to-pink-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">Linux firewalls</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                    <div class="flex cursor-pointer flex-col rounded-md border bg-gray-100 w-[350px] min-w-[350px] h-[265px] hover:bg-gray-200">
                        <div class="h-full w-full rounded-t-md bg-gradient-to-tr from-teal-200 to-green-400"></div>
                        <div class="flex w-full rounded-b-md px-2 py-1 h-[100px]">
                            <span class="text-lg w-[calc(100%-1.5rem)] line-clamp-2 text-ellipsis overflow-auto whitespace-normal">History: World War II</span>
                            <img src="/static/icons/arrow-right.svg" alt="icon" class="h-6 w-6 self-center">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
    </html>
{{ end }}