{{ block "navbar" . }}
    <nav class="h-16 w-full bg-white flex items-center justify-start gap-x-2 p-2 fixed mb-16 top-0 z-100">
        <div class="h-full p-4 flex items-center justify-center text-3xl font-semibold cursor-default">
            <span>Spaced Ace</span>
        </div>
        <div class="w-full"></div>
        <div class="h-full p-2 flex items-center justify-center bg-white hover:bg-black text-black hover:text-white">
            <span>Menu 1</span>
        </div>
        <div class="h-full p-2 flex items-center justify-center bg-white hover:bg-black text-black hover:text-white">
            <span>Menu 2</span>
        </div>
        <div class="h-full p-2 flex items-center justify-center bg-white hover:bg-black text-black hover:text-white">
            <span>Menu 3</span>
        </div>
        <div class="h-full p-2 flex items-center justify-center bg-white hover:bg-black text-black hover:text-white">
            <span>Menu 4</span>
        </div>
        <div class="w-full"></div>
        <div class="h-full px-2 py-1 flex items-center justify-center font-bold cursor-pointer">
            <span>Login</span>
        </div>
        <div class="h-full px-2 py-1 flex items-center justify-center font-bold cursor-pointer">
            <span>Sign up</span>
        </div>
    </nav>
{{ end }}