{{ block "sidebar" . }}
<aside class="flex h-full flex-shrink-0 flex-col gap-y-3 border-r px-4 py-4 w-[260px]">
    <div class="flex items-center gap-x-3 pb-2 h-[72px]">
        <img src="https://placehold.co/64x64/png" alt="logo" class="rounded-md">
        <span class="text-lg font-semibold">John Doe</span>
    </div>

    <a class="flex items-center gap-x-3 rounded-md bg-gray-100 px-3 py-2 hover:bg-gray-200">
        <img src="/static/icons/learn.svg" alt="learn-icon" class="h-6 w-6">
        <span class="text-md">Learn</span>
    </a>
    <a class="flex items-center gap-x-3 rounded-md px-3 py-2 hover:bg-gray-200">
        <img src="/static/icons/bolt.svg" alt="icon" class="h-6 w-6">
        <span class="text-md">Menu 2</span>
    </a>
    <a class="flex items-center gap-x-3 rounded-md px-3 py-2 hover:bg-gray-200">
        <img src="/static/icons/bolt.svg" alt="icon" class="h-6 w-6">
        <span class="text-md">Menu 3</span>
    </a>
    <a class="flex items-center gap-x-3 rounded-md px-3 py-2 hover:bg-gray-200">
        <img src="/static/icons/profile.svg" alt="learn-icon" class="h-6 w-6">
        <span class="text-md">Profile</span>
    </a>

    <div class="h-full"></div>

    <button
        hx-post="/logout"
        class="h-10 w-full rounded-md border bg-red-700 px-4 py-2 text-white hover:bg-red-600">
        Logout
    </button>
</aside>
{{ end }}