{{ block "single-choice-question" . }}
    <div id="{{ .Question.Id }}" class="flex flex-col items-start gap-y-1 rounded-md border border-gray-300 p-6 w-[700px]">
        <span class="overflow-auto whitespace-normal text-xl font-semibold">{{ .Question.Order }}) {{ .Question.Question }}</span>
        <span class="text-sm text-gray-400">Choose the correct answer from the options below.</span>
        <div class="flex w-full flex-col overflow-auto whitespace-normal rounded-md border border-gray-200 p-2 text-lg gap-y-0.5">
            {{ range $index, $option := .Question.Options }}
                <label class="overflow-auto whitespace-normal">
                    <input
                        type="radio"
                        name="answer"
                        disabled
                        {{ if eq $option.Correct true }}
                            checked
                        {{ end }}
                        value="{{ $index }}">
                    {{ $option.Value }}
                </label>
            {{ end }}
        </div>
    </div>
{{ end }}